.author {
    font-size: 14px;
    font-style: normal;
}
.author a {
    color: #90CAF9;
    text-decoration: none;
}

.italicText {
    font-style: italic;
    color: #afb3b9;
}

.italicTextMain {
    font-size: 16px;
    font-style: italic;
}

.brTop {
    line-height: 1px;
}

.score {
    font-size: 22px;
    margin: 15px;
    color: #afb3b9;
}

.threadScore {
    font-size: 24px;
    margin: 15px;
    color: #9E66B6;
}

tr .mainRow {
    display: table-row;
    border-color: White;
}

.mainAuthor {
    font-size: 16px;
}

.mainAuthor a {
    color: #90CAF9;
    text-decoration: none;
}
.mainAuthor a:hover {
  color: #75ff8a;
  text-decoration: none;
}

.container {
    width: 740px;
    max-width: 740px;
}
.container tr:nth-child() {
    background-color: #343434;
}