h2 {
    font-weight: 300;
}

.author {
    font-size: 16px;
}
.author a {
    color: #afb3b9;
    text-decoration: none;
}

.italicText {
    font-style: italic;
}

.brTop {
    line-height: 1px;
}

.score {
    font-size: 22px;
    margin: 15px;
    color: #afb3b9;
}