h2 {
    font-weight: 300;
}

.author {
    font-size: 16px;
}
.author a {
    color: #afb3b9;
    text-decoration: none;
}

.italicText {
    font-style: italic;
}

.italicTextMain {
    font-size: 16px;
    font-style: italic;
}

.brTop {
    line-height: 1px;
}

.score {
    font-size: 22px;
    margin: 15px;
    color: #afb3b9;
}

.threadScore {
    font-size: 24px;
    margin: 15px;
    color: #90CAF9;
}

tr .mainRow {
    display: table-row;
    border-color: White;
}

.mainAuthor {
    font-size: 24px;
}

.mainAuthor a {
    color: #afb3b9;
    text-decoration: none;
}