.navigation {
    width: 650px;
    text-transform: uppercase;
}

.navigation ul {
    background-color: #37383a;
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navigation li {
    padding: 15px;
}

.navigation .selected {
    background-color: #90CAF9;
}