.navigation {
    width: 450px;
    text-transform: uppercase;
}

.navigation ul {
    background-color: #37383a;
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navigation li {
    padding: 15px;
}

.navigation .selected {
    background-color: #90CAF9;
}

.sub-selector {
    background: white;
    max-width: 450px;
}

.sub-selector input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px 0;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
    
}

::-webkit-input-placeholder {
    font-style: italic;
    color: white;
 }
 :-moz-placeholder {
    font-style: italic;  
    color: white;
 }
 ::-moz-placeholder {
    font-style: italic;  
    color: white;
 }
 :-ms-input-placeholder {  
    font-style: italic; 
    color: white;
 }
