.score {
    font-size: 36px;
    margin: 5px;
    color: #afb3b9;
}
  
.title {
  font-size: 18px;
}

.title a {
  text-decoration: none;
  color: #fff;
}

.author {
  font-size: 16px;
  font-style: italic;
}

.author a {
  color: #90CAF9;
  text-decoration: none;
}

.backLink {
  text-decoration: none;
  color: #90CAF9;
  margin: 15px;
}

.span {
  margin-left: 7px;
}

.container tr:nth-child(even) {
  background-color: #343434;
}